@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Quicksand:wght@300;500&display=swap');

body {
  font-family: "Open Sans", "Quicksand", "Arial", sans-serif;
  background: #ffffff;
}

header {
  font-family: "Open Sans", "Quicksand", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin: 0px auto;
  padding: 0;
  width: 670px;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 120px;
  grid-template-areas:
    "about photo contact";
  font-family: "Open Sans", "Quicksand", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
  background: rgb(43, 58, 66);
  margin: 5px auto;
  padding: 10px 30px;
  width: 1080px;


}

#about {
  grid-area: about;
}

#photo {
  grid-area: photo;
}

#contact {
  grid-area: contact;
}

#pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  margin: 0px 75px;
}

#bio {
  margin: 45px auto;
  padding: 50px;
  border: 1px solid rgb(43, 58, 66);
  width: 1080px;
  font-family: "Open Sans", "Quicksand", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#portrait {
  display: grid;
  justify-content: center;
  margin: 10px 0px;
}



h2{
  border-bottom: 1px solid rgb(255,0,0);
  border-top: 1px solid rgb(255,0,0);
  margin: 45px auto;
  padding: 0px 500px;
  width: 110px;
  font-size: 35px;
  font-weight: 300;
}

#contact-info {
  background: rgb(43, 58, 66);
  font-family: "Open Sans", "Quicksand", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin: 10px auto;
  padding: 5px;
  width: 1000px;
}

a:link {
  color: #ffffff;
  }

a:visited {
  color: rgb(189, 212, 222);
}

a:hover {
  color:rgb(239, 239, 239);
}

a:active {
  color: rgb(255, 83, 13);
}
