@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Quicksand:wght@300;500&display=swap');

body {
  font-family: "Open Sans", "Quicksand", "Arial", sans-serif;
}

.page-top {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: repeat (3, 1fr);
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "about photo contact";
  font-family: "Open Sans", "Quicksand", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

#about {
  grid-area: about;
}

#photo {
  grid-area: photo;
}

#contact {
  grid-area: contact;
}

#pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#bio {
  margin: auto;
  padding: 50px;
  border: 1px solid black;
  width: 1080px;
  font-family: "Open Sans", "Quicksand", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

#portrait {
  display: grid;
  justify-content: center;
  margin: 30px 0px;
}



h2{
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  font-size: 35px;
  font-weight: 300;
  margin-left: 0px 300px;
  margin-right: 0px 300px;
  padding: 0px 600px;
}



/*header {
  font-family: "Open Sans", "Quicksand", "Arial", sans-serif;
  font-size: 35px;
  font-weight: 400;
  padding: 15px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: 3 / 5;
}








*/
