body {
    color: rgb(108, 189, 222);
    background: #134256;
}

header {
    color: #daeef7;
}

figcaption {
    color: green;
}

.alt-row {
    background: #ddd
}

h2 {
    color:
}

 {
    background: black
}
