body {
    color: rgb(71, 172, 214);
    background: #134256;
}

header {
    color: #ffffff;
}

nav li {
    list-style-type: square;
}

h2 {
    color: rgb(182, 222, 239);
}

h3 {
    color: rgb(108, 189, 222);
}

nav {
    color: rgb(49, 22, 11);
}

figcaption {
    color: rgb(255, 137, 100);
}

th {
    color: rgb(218, 238, 247);
}

.alt-row {
    background: rgb(11, 37, 48);
}

caption {

}
